<body>
<h1>&nbsp; &nbsp; COMMITTEES</h1>
<h3>

&nbsp; &nbsp; &nbsp;<%= link_to "ADMISSIONs COMMITTEE" ,{:action=>'admissions'} %><br>
&nbsp; &nbsp; &nbsp;<%= link_to "ALUMNI COMMITTEE" ,{:action=>'alumni'} %><br>

</h3>

